---
import Base from "../layouts/Base.astro";
---

<Base title="404">
  <div class="wrapper">
    <div class="not-found">
      <h1>404</h1>
      <p>Page not found.</p>
      <a href="/">Go home</a>
    </div>
  </div>
</Base>
